#main {
  width:600px;
  height:500px;
  position:absolute;
  left:50%;
  top:50%;
  margin:-250px -300px;
  .toon {
    width:600px;
    height:400px;
    background:url('http://dummyimage.com/600x400')
  }
}